/* let's have some fun with grids */
/* golden ratio percentages */
/* GOLDEN RATIO GRID - for fluid layouts */
.g1,
.g2,
.g3 {
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}
.g1 {
  width: 57.803398874989476%;
}
.g2 {
  width: 34.196601125010524%;
}
/* full width - gutter */
.g3 {
  width: 96%;
}
/* for sub-layouts without nesting divs */
/* fixed width layout grids */
/* base column width without margin or padding */
/* FIBONACCI SEQUENCE BASED GRID */
/* measurements in EMs
@n = nth number in sequence
@m = margin on each side
@p = padding on each side (defaults to none)
@b = base column width
*/
/* allow columns to stack vertically without floating */
/* GENERIC COLUMN GENERATOR */
/* measurements in ems
@cols = column span
@b = base column width
@m = margin on each side
@p = padding on each side 
*/
