/* Example Stylesheet - Golden Ratio grid system */
/* font stacks */
.serif-text {
  font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
}
.serif-headlines {
  font-family: 'Gentium Basic', Palatino, 'Palatino Linotype', Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-style: normal;
}
.sans-text {
  font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.sans-headlines {
  font-family: 'Trebuchet MS', Arial, 'Liberation Sans', sans-serif;
}
.preformatted {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, monospace;
}
/*
	Base stylesheet with CSS normalization, typographic baseline grid and progressive responsiveness
*/
/* HTML5 DECLARATIONS */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
dialog {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* BASE */
html {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
/* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* Improve default text rendering, handling of kerning pairs and ligatures */
body {
  font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
/* DEFAULT FONT SETTINGS */
/* 16px base font size with 150% (24px) friendly, unitless line height and margin for vertical rhythm */
/* Font-size percentage is based on 16px browser default size */
body,
button,
input,
select,
textarea {
  font: NaN%/1.5;
  *font-size: 1em;
}
/* IE7 and older can't resize px based text */
p,
blockquote,
q,
pre,
address,
hr,
code,
samp,
dl,
ol,
ul,
form,
table,
fieldset,
menu {
  margin: 0 0 1.5em;
  padding: 0;
}
/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trebuchet MS', Arial, 'Liberation Sans', sans-serif;
}
h1 {
  font-size: 2.25em;
  line-height: 1.3333333333333333em;
  margin: 0 0 0.6666666666666666em;
}
h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin: 0 0 0.75em;
}
h3 {
  font-size: 1.75em;
  line-height: 1.7142857142857142em;
  margin: 0 0 0.8571428571428571em;
}
h4 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0 0 1em;
}
h5 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 1.2em;
}
h6 {
  font-size: 1.125em;
  line-height: 1.3333333333333333em;
  margin: 0 0 1.3333333333333333em;
}
p,
.p,
ul,
blockquote,
pre,
td,
th,
label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1.5em;
}
small,
.small {
  font-size: 0.75em;
  line-height: 2em;
  margin: 0 0 2em;
}
/* CODE */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* Allow line wrapping of 'pre' */
pre,
code,
kbd,
samp {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, monospace;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1.5em;
}
/* TABLES */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1.375em;
  border-bottom: 0.0625em solid #262626;
}
th {
  text-align: left;
}
th,
td {
  padding: 0.75em 0.75em 0.6875em 0.75em;
  border-width: 0.0625em;
  border-style: solid;
  border-color: #262626;
  border-bottom: 0 solid #262626;
}
/* FORMS */
form {
  margin: 0;
}
fieldset {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
legend {
  *margin-left: -0.75em;
}
button,
input,
select,
textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}
/* IE7 and older */
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* QUOTES */
blockquote {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
q {
  quotes: '“' '”' '"' '"' "'" "'";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
cite:before {
  content: "—";
}
blockquote,
q,
cite {
  font-style: italic;
}
blockquote {
  padding-left: 1.5em;
  border-left: 0.1875em solid #262626;
}
blockquote > p {
  padding: 0;
}
/* LISTS */
ul,
ol {
  list-style-position: inside;
  padding: 0;
}
li ul,
li ol {
  margin: 0 1.5em;
}
dl dd {
  margin-left: 1.5em;
}
/* HYPERLINKS */
a {
  text-decoration: underline;
  color: #0000cc;
}
a:hover {
  color: #cc0000;
}
a:active {
  color: #660000;
}
a:visited {
  color: #4c1386;
}
a:focus {
  outline: thin dotted;
}
/* Better CSS Outline Suppression */
a:hover,
a:active {
  outline: none;
}
/* MEDIA */
figure,
figcaption {
  margin: 0;
}
/* Fluid images */
img,
object,
embed,
video {
  max-width: 100%;
  _width: 100%;
}
/* Improve IE's resizing of images */
img {
  margin: 0;
  padding: 0;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* Correct IE9 overflow */
svg:not(:root) {
  overflow: hidden;
}
/* ABBREVIATION */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #333;
  cursor: help;
}
/* MARKED/INSERTED/DELETED AND SELECTED TEXT */
ins,
mark {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* selected text */
::-moz-selection,
::selection {
  background: #ffffff;
  color: #000000;
  text-shadow: none;
}
/* OTHERS */
strong,
b,
dt {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
var,
address {
  font-style: normal;
}
/* Position 'sub' and 'sup' without affecting line-height */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* Move superscripted text up */
sup {
  top: -0.5em;
}
/* Move subscripted text down */
sub {
  bottom: -0.25em;
}
/* Best available ampersand */
span.amp {
  font-family: Adobe Caslon Pro, Baskerville, "Goudy Old Style", "Palatino", "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 110%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* MICRO CLEARFIX HACK */
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.golden-a,
.golden-b,
.golden-full {
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}
.golden-a {
  width: 57.803398874989476%;
}
.golden-b {
  width: 34.196601125010524%;
}
.golden-full {
  width: 96%;
}
/* Default Styles for all sized devices */
/* Center page without wrapper */
body {
  width: 98%;
  margin: 0 auto;
}
header,
footer,
#content {
  zoom: 1;
  margin: 0 auto;
}
header:before,
footer:before,
#content:before,
header:after,
footer:after,
#content:after {
  content: "";
  display: table;
}
header:after,
footer:after,
#content:after {
  clear: both;
}
header section {
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 57.803398874989476%;
}
header div {
  display: inline;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 34.196601125010524%;
}
/* golden fluid grid examples */
@media screen and (max-width: 36em) {
  /* phone | 1 column */
}
@media screen and (min-width: 36em) {
  footer {
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
  }
}
@media screen and (min-width: 36em) and (max-width: 58.5em) {
  /* small tablet / desktop | 2 column */
  #primary {
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 57.803398874989476%;
  }
  #secondary,
  #third,
  #fourth,
  #fifth {
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 34.196601125010524%;
    display: block;
    float: none;
    margin-left: 63.803398874989476%;
  }
}
@media screen and (min-width: 58.5em) and (max-width: 94.5em) {
  /* medium tablet / desktop | 3 column */
  #primary {
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 34.196601125010524%;
  }
  #secondary {
    display: inline;
    float: left;
    width: 19.606797749978973%;
    margin-left: 2%;
    margin-right: 2%;
  }
  #third,
  #fourth,
  #fifth {
    display: inline;
    float: left;
    width: 34.19660112501051%;
    margin-left: 2%;
    margin-right: 2%;
    display: block;
    float: none;
    margin-left: 63.803398874989476%;
  }
}
@media screen and (min-width: 94.5em) and (max-width: 117em) {
  /* medium tablet / desktop | 4 column */
  #primary {
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    width: 34.196601125010524%;
  }
  #secondary {
    display: inline;
    float: left;
    width: 19.606797749978973%;
    margin-left: 2%;
    margin-right: 2%;
  }
  #third,
  #fourth,
  #fifth {
    display: inline;
    float: left;
    width: 34.19660112501051%;
    margin-left: 2%;
    margin-right: 2%;
    display: block;
    float: none;
    margin-left: 63.803398874989476%;
  }
  /* 20px / 30px  body text */
  .show-baselines {
    background: url('../images/baseline-20-30.png') 0 0.125em;
    background-image: url('../images/baseline-20-30.svg');
  }
  body {
    font-size: 125%;
  }
}
@media screen and (min-width: 117em) {
  /* extra large desktop | 5 column */
  #primary {
    display: inline;
    float: left;
    width: 19.606797749978963%;
    margin-left: 2%;
    margin-right: 2%;
  }
  #secondary {
    display: inline;
    float: left;
    width: 10.589803375031545%;
    margin-left: 2%;
    margin-right: 2%;
  }
  #third {
    display: inline;
    float: left;
    width: 19.606797749978973%;
    margin-left: 2%;
    margin-right: 2%;
  }
  #fourth {
    display: inline;
    float: left;
    width: 10.589803375031549%;
    margin-left: 2%;
    margin-right: 2%;
  }
  #fifth {
    display: inline;
    float: left;
    width: 19.606797749978973%;
    margin-left: 2%;
    margin-right: 2%;
  }
  /* 24px / 36px  body text */
  .show-baselines {
    background: url('../images/baseline-24-36.png') 0 0.125em;
    background-image: url('../images/baseline-24-36.svg');
  }
  body {
    font-size: 150%;
  }
}
/* PRINT */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster */
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't print links for images, javascript or internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* Repeat header row at top of each printed page */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
