/*
let's have some fun with grids

*/


/* golden ratio percentages */
@Phi: `(1 + Math.sqrt(5)) / 2`;
@goldenA: percentage(1/@Phi);
@goldenB: percentage(1 - (1/@Phi));

.fib (@n: 3, @g:1, @p:0) {
    @fib: `Math.round((Math.pow(@{Phi},@{n}))/Math.sqrt(5)) -(2*@{g}) -(2*@{p})`;
    
    @fibEm: ~`"@{fib}" + 'em'`;
    
    @mar: ~`"0 @{g}" + 'em'`;
    @pad: ~`"@{p}" + 'em'`;
    
    
    width: @fibEm;
    margin: @mar;
    padding: @pad;
    
}


.f1 { .fib(1) }
.f12 { .fib(12,1) }


.columns(@span: 1) {
	width: ( (@span * @colWidth) - @totalMargin );
	margin: 0 @baseMargin;
}

/* COLUMN GRID */
.g1,.g2,.g3 {display:inline; float: left}

/* 2 COLUMN GOLDEN RATIO GRID minus gutter */
@baseMargin: 1em;
@totalMargin: (@baseMargin * 2);

.g1 {width: (@goldenA - @totalMargin) }
.g2 {width: (@goldenA - @totalMargin) }
.g3 {width: (unit(100%, em) - @totalMargin ) } /* full width - gutter */

